:root {
  /* Colors */
  --gs-white: #ffffff;
  --gs-white-soft: #F9F9F9;
  --gs-white-mute: #B0B0B0;

  --gs-black: #212121;

  --gs-blue: #2E3A8C;
  
  --gs-green: #3B755F;
  --gs-green-soft: #AFC6BD;
  
  --gs-beige: #F2EBDB;

  /* Typography */
  --gs-title-font-size: 30px;
  --gs-title-font-weight: 700;

  --gs-subtitle-font-size: 18px;
  --gs-subtitle-font-weight: 700;

  --gs-text-font-size: 14px;
  --gs-text-font-weight: 400;

  --gs-subtext-font-size: 12px;
  --gs-subtext-font-weight: 400;

  --gs-anchor-font-size: 14px;
  --gs-anchor-font-weight: 700;

  /* Sizing */
  --gs-border-radius: 6px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--gs-white-soft);
  --color-background-mute: var(--gs-white-mute);

  --color-background-accent-1: var(--gs-blue);
  --color-background-accent-2: var(--gs-green);
  --color-background-accent-3: var(--gs-beige);

  --color-text: var(--gs-black);
  --color-text-negative: var(--gs-white);
  --color-text-alt: var(--gs-green);
  --color-anchor: var(--gs-green);
  --color-border-grey: var(--gs-white-mute);
  --color-border-black: var(--gs-black);
  --color-border-green-soft: var(--gs-green-soft);
  --color-border-green: var(--gs-green);
  --color-border-beige: var(--gs-beige);

  --color-blue: var(--gs-blue);
  --color-green: var(--gs-green);
  --color-beige: var(--gs-beige);
  --color-white: var(--gs-white);
  --color-black: var(--gs-black);

  
  --title-size: var(--gs-title-font-size);
  --title-weight: var(--gs-title-font-weight);
  --subtitle-size: var(--gs-subtitle-font-size);
  --subtitle-weight: var(--gs-subtitle-font-weight);
  --text-size: var(--gs-text-font-size);
  --text-weight: var(--gs-text-font-weight);
  --subtext-size: var(--gs-subtext-font-size);
  --subtext-weight: var(--gs-subtext-font-weight);
  --anchor-size: var(--gs-anchor-font-size);
  --anchor-weight: var(--gs-anchor-font-weight);
  
  --border-radius: var(--gs-border-radius);
  
  --input-inset-shadow-color: color-mix(in srgb, var(--gs-white-mute) 30%, transparent);
  --input-hover-shadow: color-mix(in srgb, var(--gs-green-soft) 50%, transparent);
  --input-active-color: var(--gs-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: var(--text-size);
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--text-weight);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
