@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 22px;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-size: var(--anchor-size);
  font-weight: var(--anchor-weight);
  color: var(--color-anchor);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
  }
}

.input-wrapper {
  color: var(--color-text-alt);
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  position: relative;
  margin: 0;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
